.header-container{
	margin-top: 50px;
	align-items: center;
	text-align: center;
}

.heading{
	color: rgb(0, 128, 192);
}

.button-container{
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.button-upload-view{
	
	width: 200px;
	height: 40px;
	border: 1px solid dodgerblue;
	border-radius: 5px;
	margin:10px;
	background-color: dodgerblue;
	color: ghostwhite;

}
.button-upload-view:hover{
	border: 1px solid #2980b9;
	background-color: #2980b9;

}

